:root {
    --primary-color: blue;
    --secondary-color: green;
    --accent1-color: black;
    --accent2-color: purple;
    --heading-font: "Times New Roman", "Algerian", serif;
    --body-font: "Cambria", "Georgia", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

img {
    width: 100%;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border: 2px solid var(--secondary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

.hero article {
    position: absolute;
    top: 380px;
    width: 98%;
    padding: 16px;
    margin: 10px;
    text-align: center;
    opacity: .9;
    background-color: var(--accent2-color);
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
}

section h2,
section p {
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 16px;
    width: 100%;
}

footer {
    border: 5px solid var(--accent1-color);
    margin: 15px auto;
    display: grid;
    grid-template-columns: 600px 1fr;
    align-items: center;
    justify-content: center;
}

footer nav a img {
    width: 30px;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: lightslategray;
    align-items: center;
    margin: 10px auto;

}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav ul li {
    padding: 1rem;

}

nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.history,
.end {
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.history h2,
.end h2 {
    grid-column: 1/4;
}

.adventures {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    background-color: lawngreen;
}

.adventures h2 {
    grid-column: 1/6;
    align-items: center;
}

figure figcaption {
    text-align: center;
}

footer p {
    text-align: center;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
}

.end figure img {
    height: 12rem;
}

.top {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
}

.middle iframe {
    width: 100%;
    height: 100%;
}

.middle {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr;
}

form {
    display: block;
    margin: 1rem;
}

.label {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5rem;
    margin: 1rem;
}

button {
    grid-column: 1/3;
    background-color: antiquewhite;
    padding: 1rem;
    text-align: center;
}

button:hover {
    background-color: beige;
}

#plenty {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
}

.wrap {
    grid-row: 1/4;
}

.label-3 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

textarea,
input {
    padding: .75rem;
}

iframe {
    border: 0;
}

.high,
main h2 {
    position: static;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

.static {
    position: static;
    background-color: transparent;
}

#enu img {
    display: absolute;
    width: 100%;
}

#enu h2,
#enu h1 {
    position: absolute;
}

#enu h2 {
    display: block;
    top: 6rem;
    background-color: black;
    opacity: 0.7;
    padding: 15px;
    left: 27%;
}

.upper img {
    float: right;
    width: 30px;
    height: auto;
}

.btn {
    display: inline-block;
    padding: 12px 1rem;
    background-color: orange;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 1rem;
}

.btn:hover {
    background-color: orangered;
}

.somepart {
    position: absolute;
    display: block;
    text-align: center;
    border: 5px solid black;
    color: whitesmoke;
    bottom: 2rem;
    left: 15em;

}

legend {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1em;
    background-color: pink;
}

h3 {
    order: -1;
    text-align: center;
}