* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkblue-color: darkblue;
    --black-color: black;
    --green-color: green;
    --px-font: 2px;
    --centre: center;
}

nav {
    background-color: var(--darkblue-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px
}

h1 {
    color: var(--darkblue-color);
}

ul {
    clear: right;
}

main img {
    float: right;
    width: 100px;
    height: auto;
    border: 1px solid var(--black-color);
    padding: var(--px-font);
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0;
}

main {
    max-width: 1000px;
}

aside {
    width: 350px;
    color: var(--black-color);
    position: relative;
}

aside img {
    width: 340px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 50px;
    right: 75px;
}

p {
    padding: 0;
}

footer {
    margin-top: var(--px-font);
    border-top: var(--px-font) dashed var(--green-color);
    text-align: var(--centre);
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 5px 5px;
    border: 1px solid black;
    background-color: rgb(118, 165, 42);
}