nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0;
}

main {
    max-width: 1000px;
}

aside {
    width: 300px;
    margin: 10px;
    border: 2.5px solid green;
    padding: 10px;
    background-color: rgb(86, 63, 63);
    color: rgb(0, 0, 0);
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    text-align: center;
}

p {
    padding: 0;
}

footer {
    margin-top: 2px;
    border-top: 2px dashed green;
    text-align: center;
}