:root {
    --darkblue-color: darkblue;
    --black-color: black;
    --green-color: green;
    --px-font: 2px;
    --centre: center;
}

nav {
    background-color: var(--darkblue-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px
}

h1 {
    color: var(--darkblue-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--black-color);
    padding: var(--px-font);
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0;
}

main {
    max-width: 1000px;
}

aside {
    width: 300px;
    margin: 10px;
    border: 2.5px solid var(--green-color);
    padding: 10px;
    background-color: rgb(86, 63, 63);
    color: var(--black-color);
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    text-align: var(--centre);
}

p {
    padding: 0;
}

footer {
    margin-top: var(--px-font);
    border-top: var(--px-font) dashed var(--green-color);
    text-align: var(--centre);
}